
@{
    ViewData["Title"] = "Contact";
}



<div class="container">
    <h2>Contact Us</h2>
    
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="~/images/01.jpg" width="300" height="200" /></td>
                <td>9611767018</td>
                <td>cognitiveamature123@gmail.com</td>
            </tr>
            
        </tbody>
    </table>
</div>



