@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to astro geek, your one stop solution to life's problems</h1>
    <p>
        Astrogeek uses traditional vedic methodolologies  to study and analyze planetery positions<br />
        on your birth charts, co-relates it with present dasha bhukti, goes into details on astha-varga or divisional charts curating strenghts of planets
        , suggest affordable remedies and provides  detailed recomendation report to its customers.
    </p>
</div>

<div class="container">
    <h2>Services</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Complete Chart Readings (300 Rs)</th>
                <th>Career (200 Rs)</th>
                <th>Marriage & Relationships (200 Rs)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="~/images/readings.jpg" width="200" height="200" /></td>
                <td><img src="~/images/career.png" width="200" height="200" /></td>
                <td><img src="~/images/love.jpg" width="200" height="200" /></td>
            </tr>

        </tbody>
    </table>
</div>

