@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<p>We are astro-geeks, we are not here to fool you or extract money from you saying fearful things <br />
   We have more then a decade experience in this field, which is done practically through real time analysis <br />
    of planetrary movements and their effects on humans <br />
    Our services are very affordable as we understand mostly people who battling life's problems approach us <br />
    and we are 100% confident of giving them right advices leveraging vedic astro science </p>
